.form {
  padding: 40px 0;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inputs {
    width: 45%;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 35%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .form {
    padding: 15px 0;
    &__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
    &-control {
      & input {
        width: 90%;
      }
    }
    &__inputs {
      width: 100%;
    }
    &__buttons {
      width: 50%;
      padding-top: 20px;
    }
  }
}
