@import '../../styles/variables.scss';

.info {
  width: 35%;

  &__title {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 1.4;
  }
  & mark {
    color: $yellow;
    background-color: transparent;
  }
}

body.light-mode {
  & .info mark {
    color: $lightpurple;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .info {
    width: 30%;
    &__title {
      font-size: 25px;
    }
    &__subtitle {
      font-size: 15px;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .info {
    width: 90%;
    padding-bottom: 25px;
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .info {
    width: 90%;
    padding-bottom: 25px;
    &__title {
      font-size: 25px;
    }
    &__subtitle {
      font-size: 15px;
    }
  }
}
