@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'variables';

body {
  line-height: 1;
  font-size: 22px;
  height: 100%;
  font-family: 'notosans';
  color: $grey;
  background: $darkgrey;
}

body.light-mode {
  color: $pink;
  background: $darkpurple;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex: 1 1 auto;
}

section {
  padding: 50px 0px;
}

.section-container {
  display: flex;
  justify-content: space-between;
}
