@import 'mixins';
@import 'fonts';
@import 'reset';

html,
body {
  line-height: 1;
  font-size: 22px;
  height: 100%;
  font-family: 'notosans';
  background: aquamarine;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex: 1 1 auto;
}

section {
  padding-top: 100px;
}

.section-container {
  display: flex;
  justify-content: space-between;
}
