.about {
  &-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  &__title {
    font-weight: 900;
    font-size: 35px;
  }
  &__subtitle {
    font-size: 16px;
  }
  &__contacts {
    width: 300px;
    &-item {
      display: flex;
      justify-content: space-between;
      & span {
        font-weight: 600;
      }
      & div {
        width: 100px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 250px;
    &-item {
      text-align: center;
      padding: 15px;
      display: inline-block;
      border: none;
      border-radius: 2px;
      transition: all 0.3s ease;
      font-size: 14px;
      min-width: 120px;
      background: #efefef;
      &.dark {
        background-color: rgb(71, 71, 238);
        color: #fff;
      }
    }
  }
  &__img {
    position: relative;
    width: 48%;
    &-circle {
      width: 300px;
      height: 300px;
      background-color: #fff;
      border-radius: 100%;
      margin: 75px auto 0px auto;
    }
    & img {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 300px;
    }
  }
}
