@import '../../styles/variables.scss';

.about {
  background-color: $lightgrey;
  &-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 300px;
    justify-content: space-between;
    & mark {
      background: transparent;
      color: $yellow;
    }
  }
  &__title {
    font-weight: 900;
    font-size: 35px;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 1.4;
  }
  &__contacts {
    width: 300px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-item {
      display: flex;
      justify-content: space-between;
      & span {
        font-weight: 600;
      }
      & div {
        width: 100px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 11px 15px;
      border: 4px solid transparent;
      border-radius: 4px;
      transition: all 0.3s ease;
      font-size: 14px;
      min-width: 120px;
      background: $grey;
      color: $darkgrey;
      cursor: pointer;
      &:hover {
        border-radius: 10px;
        border: 4px solid black;
      }
      &.colored {
        background-color: $yellow;
      }
    }
  }
  &__img {
    position: relative;
    width: 50%;
    &-circle {
      width: $size;
      height: $size;
      background-color: #fff;
      border-radius: 100%;
      margin: 75px auto 0px auto;
    }
    & img {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: $size;
      height: $size;
    }
  }
}

body.light-mode {
  & .about {
    background-color: $lightpurple;
    &__buttons {
      &-item {
        &.colored {
          background-color: $darkpurple;
          color: $lightpurple;
        }
      }
    }
    &__info {
      & mark {
        color: $darkpurple;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about {
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__img {
      & img {
        height: 300px;
        width: 300px;
      }
      &-circle {
        height: 300px;
        width: 300px;
        margin: 50px auto 0px auto;
      }
    }
    &__contacts {
      font-size: 18px;
    }
    &__info {
      height: 320px;
    }
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .about {
    &-me {
      flex-direction: column;
      text-align: center;
    }
    &__info {
      align-items: center;
      width: 72%;
    }
    &__img {
      width: 90%;
      & img {
        height: 250px;
        width: 250px;
      }
      &-circle {
        height: 250px;
        width: 250px;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .about {
    &-me {
      flex-direction: column;
      text-align: center;
    }
    &__info {
      align-items: center;
      width: 90%;
      height: 375px;
    }
    &__img {
      width: 90%;
      & img {
        height: 250px;
        width: 250px;
      }
      &-circle {
        height: 250px;
        width: 250px;
        margin: 50px auto 0px auto;
      }
    }
    &__contacts {
      font-size: 18px;
      width: 95%;
    }
  }
}
