.modal {
  &__title {
    font-size: 36px;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 1rem;
  }
  &__textarea {
    padding: 10px;
    border: 2px solid #f0f0f0;
    width: 40%;
    height: 150px;
  }
}

.form {
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inputs {
    width: 45%;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 35%;
  }
}
