@import '../../styles/variables.scss';

.header {
  background-color: $lightgrey;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {
  font-size: 40px;
  font-weight: 900;
  width: 45%;
  & mark {
    color: $yellow;
    background-color: transparent;
  }
}
