@import '../../styles/variables.scss';

.header {
  background-color: $lightgrey;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {
  font-size: 40px;
  font-weight: 900;
  width: 45%;
  & mark {
    color: $yellow;
    background-color: transparent;
  }
}

body.light-mode {
  & .header {
    background-color: $lightpurple;
  }
  & .logo {
    & mark {
      color: $flowerblue;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 480px) and (max-width: 768px) {
}
@media (min-width: 320px) and (max-width: 480px) {
}

@media (min-width: 320px) and (max-width: 1024px) {
  .logo {
    width: 90%;
  }
}
