@import '../../styles/variables.scss';

.menu {
  margin-right: 25px;
  &__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
    & span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 13px;
      }
      &:nth-child(4) {
        top: 26px;
      }
    }
  }
}
.menu__links {
  width: 775px;
  display: flex;
  justify-content: space-between;
  &-item {
    padding: 5px 0px;
    border-bottom: 4px solid transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:hover {
      cursor: pointer;
      border-bottom: 4px solid $yellow;
    }
  }
}

.menu.menu_state_open {
  & .menu__icon span {
    &:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
  & .menu__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.hidden-block {
  display: none;
}

@media screen and (max-width: 1024px) {
  .menu__icon {
    display: inline-block;
    z-index: 1001;
  }
  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    background-color: $yellow;
    z-index: 1000;
    overflow: auto;
    width: 55%;
    height: 100vh;
    &-item {
      display: block;
      padding: 30px 0;
      text-align: center;
      color: $darkgrey;
    }
  }
}

body.light-mode {
  .menu__links {
    background-color: $lightpurple;
    &-item {
      color: $darkpurple;
      &:hover {
        border-bottom: 4px solid $darkpurple;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .menu__links {
    width: 100%;
  }
}
