@import '../../styles/variables.scss';

.footer {
  padding: 50px 0px;
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-between;
  }
  &-logo {
    font-size: 40px;
    font-weight: 900;
    & mark {
      background-color: transparent;
      color: $yellow;
    }
  }
  &__links {
    display: flex;
    width: 200px;
    justify-content: space-between;
    &-item {
      font-size: 50px;
      &:hover {
        color: $yellow;
        cursor: pointer;
      }
    }
  }
}
